.dashboard {
  padding: 30px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.primary-btn {
  background-color: #2c7be5;
  color: white;
  border: none;
  padding: 8px 14px;
  font-weight: 600;
  border-radius: 4px;
}

.primary-btn:hover {
  background-color: #1a68d1;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(127, 189, 250);
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #f5f5f5;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  width: 500px;
  border-radius: 8px;
}
